.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  width: 254px;
  height: 70px;
  margin: 34px auto 0;
}

.header__title {
  width: 100%;
  max-width: 793px;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;
  letter-spacing: 0em;
  margin: 90px auto 0;
  text-align: center;
}

.header__subtitle {
  width: 100%;
  max-width: 720px;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0em;
  margin: 32px auto 0;
  text-align: center;
}

.header__image {
  width: 100%;
  max-width: 984px;
  margin: 64px auto 0;
}

@media only screen and (max-width: 768px) {
  .header__logo {
    height: 65px;
  }

  .header__title {
    max-width: 720px;
    font-size: 6rem;
    line-height: 6rem;
  }

  .header__subtitle {
    width: 100%;
    max-width: 720px;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .header__image {
    margin-top: 36px;
  }
}

@media only screen and (max-width: 320px) {
  .header__logo {
    width: 188px;
    height: 52px;
    margin: 20px auto 0;
  }

  .header__title {
    max-width: 288px;
    font-size: 2.75rem;
    line-height: 3rem;
    margin-top: 50px;
    margin: 50px auto 16px;
  }

  .header__subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 auto 0;
  }

  .header__image {
    margin-top: 24px;
  }
}