.place {
    margin: 92px auto 0;
    row-gap: 80px;
  }
  
  .place__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title artist"
      "image text"
      "botton text"
      ". text";
    column-gap: 40px;
    row-gap: 48px;
    margin: 32px auto 0;
  }
  
  .place__title {
    width: 100%;
    max-width: 458.6px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    letter-spacing: 0em;
    margin: 0;
    grid-area: title;
  }
  
  .place__image {
    width: 100%;
    max-width: 485px;
    height: 490px;
    grid-area: image;
  }
  
  .place__button {
    width: 100%;
    max-width: 284.13px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: #0278fe;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: botton;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0em;
    text-decoration: none;
    color: #ffffff;
  }
  
  .place__button:hover {
    background-color: #0063d2;
    cursor: pointer;
  }
  
  .place__artist {
    grid-area: artist;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .place__artist-name {
    width: 100%;
    max-width: 57.82px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9075rem;
    letter-spacing: 0.125em;
    color: #aaaaaa;
    margin: 0 auto 0 0;
  }
  
  .place__artist-information {
    width: 100%;
    max-width: 454.61px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0em;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 8px auto 0 0;
  }
  
  .place__artist-information-description {
    width: 100%;
    max-width: 454.61px;
    font-size: 1.125rem;
    line-height: 1.375rem;
    letter-spacing: 0em;
    color: #ffffff;
  }
  
  .place__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
  }
  .place__paragraph {
    width: 100%;
    max-width: 485px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.83375rem;
    letter-spacing: 0em;
    margin: 0 auto 25px 0;
  }
  
  @media only screen and (max-width: 768px) {
    .place {
      margin: 0 auto;
      row-gap: 72px;
    }
  
    .place__grid {
      column-gap: 28px;
      row-gap: 48px;
    }
  
    .place__title {
      max-width: 340px;
      font-size: 2.625rem;
      line-height: 2.875rem;
    }
  
    .place__image {
      max-width: 350px;
      height: 340px;
    }
  
    .place__button {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.05875rem;
    }
  
    .place__artist-information {
      max-width: 352px;
    }
  
    .place__artist-information-description {
      max-width: 352px;
    }
  
    .place__paragraph {
      max-width: 352px;
      font-size: 1rem;
      line-height: 1.63rem;
      margin: 0 auto 14px 0;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .place__grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      margin: 0;
    }
  
    .place__title {
      max-width: 288px;
      font-size: 2rem;
      line-height: 2.1875rem;
      margin-top: 0;
      margin-left: 16px;
      margin-bottom: 30px;
    }
  
    .place__image {
      max-width: 320px;
      height: 320px;
      margin: 0 auto 30px;
    }
  
    .place__button {
      margin: 0 16px 50px;
    }
  
    .place__artist {
      margin: 0 16px 30px;
    }
  
    .place__artist-information {
      max-width: 288px;
    }
  
    .place__artist-information-description {
      max-width: 288px;
    }
  
    .place__text {
      margin: 0 16px 0;
    }
  
    .place__paragraph {
      max-width: 288px;
      font-size: 1rem;
      line-height: 1.625rem;
      margin: 0 auto 25px 0;
    }
  }